.infos{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:5px;
    padding:5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .infos{
        flex-direction: column;
        justify-content: space-around;
    }

    
}