.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    
  }
  
.title{
    color:$main-color;
    padding:10px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-weight:bold;
    padding:10px;
}

.form{
    display: flex;
    flex-direction: column; 
    color: $main-color;
}

.address{
    font-weight:bold;
    color: $main-color; 
    margin:2%;
    &--element {
        width: 50%;
        margin-left:25%;
      }
}

.department{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    color: $main-color;
    font-weight:bold;
    padding:20px;
}

input{
    border: none;
    border-radius: 5px;
    background-color: $second-color;
    margin:5px;
    padding:5px;
}

legend{
    font-size:25px;
}

.saveBtn{
    background-color: $main-color;
    box-shadow: 1px 0.5px 5px #9c9c9c;
    color:#fff;
    font-weight:bolder;
    border: none;
    border-radius: 5px;
    margin:10px;
    padding:10px 40px;
    cursor: pointer;
      
      &:hover {
        color: $main-color;
        background:lighten($main-color, 20);
      }
}

.dept{
    font-size:25px;
    margin-bottom:15px;
}

@media only screen and (max-width: 768px) {
    .address{
        &--element {
            width: 95%;
            margin-left:5%;
          }
    }
 
}
